<div class="nav-container">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="nav-toolbar">
            <a routerLink="/docs/home">
                <button mat-stroked-button>
                    <h3><mat-icon>book</mat-icon> Documentation</h3>
                </button>
            </a>
            <a mat-raised-button routerLink="login" class="mat-accent login-button">Login</a>
            <div class="profile">
                <button mat-icon-button [mat-menu-trigger-for]="profileMenu"><mat-icon>account_circle</mat-icon></button>
                <mat-menu #profileMenu="matMenu">

                </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="nav-sidebar-container">
        <mat-sidenav class="nav-sidebar" mode="side" opened>
            <mat-nav-list >
				<div *ngIf="!adminView">
					<a mat-list-item *ngFor="let navItem of menuDtls"
						[routerLink]="['/docs', navItem.fileName]" routerLinkActive="nav-link-active">
						{{navItem.title}}
					</a>
				</div>
				<div *ngIf="adminView">
					<a mat-list-item *ngFor="let adminItem of adminMenu"
						[routerLink]="['/admin', adminItem.view]" routerLinkActive="router-link-active" >
						{{adminItem.title}}
					</a>
				</div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="mat-card-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <notifier-container></notifier-container>
</div>

